# Default ignored files
/shelf/
/.idea
# Datasource local storage ignored files
/../../../../:\crm\crm-telegram\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.gradle
